html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom Styles
  ========================================
*/
body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ==============================================
  Grid
  ==============================================
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container, .grid {
  width: 960px;
  margin: 0 auto; /* equal left and right */
}
.container {
  padding-left: 30px;
  padding-right: 30px; /*not sitting on edge */
}

/* The columns go in a grid */
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3, .col-2-3 {
  display: inline-block;
  vertical-align: top;
}
/* adding a grid class so that the margins between the 
   cols is the same as between a col and the edge (e.g. 30px) */
.grid, .col-1-3, .col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/
.row, .row-alt {
  min-width: 960px;
}

.row {
  background: #fff;
  padding: 66px 0 44px 0;
}

.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

h1, h2, h3, h4 {
  color: #648880;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}

/*
  ========================================
  Leads
  ========================================
*/
.lead {
  text-align: center;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
  ========================================
  Links
  ========================================
*/
a {
  color: #648880;
  text-decoration: none;
}

a:hover{
  color: #a9b2b9;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}

.btn-alt:hover{
  background: #fff;
  color: #648880;
}

.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}

.btn-default:hover {
  background: #77a198;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 300;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
}

/*
  ========================================
  Works
  ========================================
*/
.works-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px; /*aligns with second paragraph*/
  padding-bottom: 22px; /*do not need top padding because of negative margin on enclosed img*/
  text-align: center;
}

.language {
  margin-bottom: 44px; /*keep sections equidistant*/
}

.works-info img {
  border-radius: 50%;
  height: 130px;
  margin: -66px 0 22px 0; /*move above the border, space from paragraph below*/
  vertical-align: top;
  background-color: #fff; /*allows for transparent images*/
}

/*
  ========================================
  Primary Header
  ========================================
*/
.logo {
  float: left;
  border-top: 4px solid #648880;
  font-size: 48px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.logo a {
  font-weight: 300;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .6px;
  text-transform: uppercase;
}

/*
  ========================================
  Primary Footer
  ========================================
*/
.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top; /*aligns to top of parent element*/
}

.nav li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Blog
  ========================================
*/
.codist-blog { /*theater*/
  margin-bottom: 66px;
}

.right-action { /*hotel*//*margin is smaller because it compounds with its parent*/
  margin-bottom: 22px;
}

.blog {
  height: 264px;
}

/*
  ========================================
  Contact
  ========================================
*/
.why-alexa {
  list-style: square;
  margin: 0 0 22px 30px;
}

form {
  margin-bottom: 22px;
}

input, select, textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /*repeated in case browser has any funny ideas*/
}

.message-info label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}

.message-info input,
.message-info textarea,
.message-info select {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}

.message-info input,
.message-info textarea {
  width: 100%;
}

.message-info select {
  height: 34px;
}

.message-info textarea {
  height: 78px;
}

/*
  ========================================
  Experience
  ========================================
*/
table {
  margin-bottom: 44px;
  width: 100%;
}

th {
  padding-right: 45px;
  text-align: right;
  width: 12%;
}

td {
  width: 22%;
  padding-bottom: 22px;
  vertical-align: top;
}
thead {
  line-height: 44px;
}

thead th {
  text-align: center;
  color: #648880;
  font-size: 50px;
  font-weight: 200;
  padding-bottom: 25px;
}

tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 600;
  vertical-align: middle;
  text-transform: uppercase;
}

tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
  text-align: center;
}

tbody td:first-of-type {
  padding-right: 15px;
}

tbody td:last-of-type {
  padding-left: 15px;
}

tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}

table a {
  color: #888;
}

table h4 {
  margin-bottom: 0;
}

.language-td {
  border-top: 2px solid #dfe2e5 !important;
  border-bottom: 2px solid #dfe2e5;
  font-size: 18px;
  font-weight: 400;
  background: rgba(41,63,80,.05);
}

tbody tr:last-of-type {
  border-bottom: 2px solid #dfe2e5;
}
